# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/
env/
.env

# Jupyter / logs
*.log
logs/

# VSCode / IDE settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Docker local data 
data/
tmp/

# Airflow
airflow/logs/
airflow/tmp/
airflow/plugins/__pycache__/
airflow/airflow.db

# Byte-compiled or temporary files
*.swp
*.swo
*.bak
*.tmp

# Misc
*.zip
*.tar
*.gz

# Spark
*.ipynb_checkpoints/
*.ipython
*.cache
*.jupyter
*.local