
services:
  postgres:
    image: postgres:15
    container_name: postgres
    hostname: postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
      start_period: 5s
    restart: always
    networks:
      - sptrans-net

  minio:
    image:  quay.io/minio/minio:RELEASE.2025-02-28T09-55-16Z
    container_name: minio
    entrypoint: sh
    command: >
      -c 'mkdir -p /minio_data/bronze &&
          mkdir -p /minio_data/silver &&
          mkdir -p /minio_data/gold &&
          minio server /minio_data --console-address ":9001"'
    ports:
      - "9000:9000" # API
      - "9001:9001" # Web console
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes: 
      - ./data/minio:/minio_data
    networks:
      - sptrans-net      
  # mc:
  #   image: minio/mc:RELEASE.2025-04-08T15-39-49Z
  #   container_name: mc
  #   depends_on:
  #     - minio
  #   entrypoint: >
  #     /bin/sh -c ""
      
  airflow:
    image: alexbkim/airflow-spark:22
    container_name: airflow
    hostname: airflow
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_started
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__CORE__REMOTE_LOGGING: False
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__WEBSERVER__ENABLE_PROXY_FIX: "True"
      AIRFLOW__WEBSERVER__SECRET_KEY: "secretkey"
      AIRFLOW_ENV: docker
      SPARK_CONF_DIR: /opt/spark/conf
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./airflow/plugins:/opt/airflow/plugins
      - ./airflow/config/airflow.cfg:/opt/airflow/airflow.cfg
      - ./airflow/requirements.txt:/opt/airflow/requirements.txt
      - ./.env:/opt/airflow/.env
      - spark_conf:/opt/spark/conf
      - spark_jars:/opt/spark/jars
      - ./data/metabase_duckdb:/opt/airflow/dags/data/metabase
    command: >
      bash -c "
      airflow db migrate &&
      airflow users create --username admin --firstname admin --lastname admin --role Admin --email admin@example.com --password admin &&
      airflow standalone
      "
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: always
    networks:
       - sptrans-net   

  spark:
    image: alexbkim/spark-3.5.3:14
    container_name: spark
    hostname: spark
    environment:
      - SPARK_MODE=master
      - SPARK_MASTER_HOST=spark
      - SPARK_MASTER_PORT=7077
      - SPARK_MASTER_WEBUI_PORT=8080
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=minioadmin
      - MINIO_ENDPOINT=http://minio:9000
    ports:
      - "7077:7077"     # Porta do Spark Master
      - "8081:8080"     # Spark Master UI
      - "4040:4040"     # Spark Application UI (driver)
    volumes:
      - ./dags/utils:/opt/workspace/utils
      - ./dags:/opt/workspace/dags
      - spark_conf:/opt/spark/conf
      - spark_jars:/opt/spark/jars
    networks:
      - sptrans-net

  spark-worker:
    image: alexbkim/spark-3.5.3:latest
    container_name: spark-worker
    hostname: spark-worker
    depends_on:
      - spark
    environment:
      - SPARK_MODE=worker
      - SPARK_MASTER=spark://spark:7077
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2G
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=minioadmin
      - MINIO_ENDPOINT=http://minio:9000
    volumes:
      - spark_conf:/opt/spark/conf
      - spark_jars:/opt/spark/jars
    networks:
      - sptrans-net

  # jupyter:
  #   image: jupyter/pyspark-notebook:latest
  #   container_name: jupyter
  #   ports:
  #     - "8888:8888"
  #   environment:
  #     - SPARK_MASTER=spark://spark:7077
  #     - AWS_ACCESS_KEY_ID=admin
  #     - AWS_SECRET_ACCESS_KEY=minioadmin
  #     - MINIO_ENDPOINT=http://minio:9000
  #     - PYSPARK_PYTHON=python3
  #     - PYSPARK_DRIVER_PYTHON=jupyter
  #     - PYSPARK_DRIVER_PYTHON_OPTS=lab --ip=0.0.0.0 --no-browser --allow-root --NotebookApp.token='' --NotebookApp.password=''
  #   volumes:
  #     - ./notebooks:/home/jovyan/work
  #     - ./dags/utils:/opt/workspace/utils 
  #     - .env:/opt/workspace/.env
  #     - spark_jars:/usr/local/spark/jars
  #   depends_on:
  #     - spark
  #     - minio
  #   command: >
  #     start-notebook.sh --NotebookApp.token='' --NotebookApp.password='' --NotebookApp.allow_origin='*' --NotebookApp.allow_remote_access=True
  #   networks:
  #     - sptrans-net

  metabase:
    image: alexbkim/metabase-duckdb:latest    
    container_name: metabase
    restart: always
    ports:
      - "3000:3000"
    environment:
      MB_DB_FILE: /home/metabase/metabase.db/metabase.db 
    volumes:
      - ./data/metabase_duckdb:/home/metabase/data
      - ./data/metabase_config:/home/metabase/metabase.db
    networks:
      - sptrans-net

networks:
  sptrans-net:
    driver: bridge

volumes:
  spark_conf:
  spark_jars: